body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

input {
	width: 280px;
	height: 25px;
	margin: 20px 5px;
	padding: 15px;
	font-size: 16px;
	
	outline:none;
	border: 2px solid rgb(0, 106, 172);
	
}

button {
	font-size: 16px;
	width: 150px;
	height: 45px;
	margin: 10px;
	
	border: none;
	background-color: rgb(34, 139, 137);
	color: white;

	transition: 0.2s ease-in-out;
}

button:hover{
	background-color: rgb(109, 176, 177);
}


#acronymdisplay{
	font-size: 32px;
	margin: 20px 5px;
}

#pointwarn {
	font-size: 14px;
	color: gray;
}

.guess {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	max-width: 600px;
	margin: 10px 10px;
}

.guess div {
	width: 100px;
	height: 20px;
	border-bottom: 2px rgb(74, 72, 72) solid;
	padding: 5px;
	font-size: 18px;

	text-align: center;
	text-anchor: middle;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 600px;
	min-height: 80px;
}